.LCtable {
    border: 1px solid black;
    margin-top: 2%;
    width: 70%;
}

.LCtable tr:first-child td {
    background: grey;
}

.LCtable tr td {
    border: 1px solid black;
    background: white;
}

